/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

li.loading{
  list-style: none;
  color: darkgreen;
  margin-top: 5px;
  margin-bottom: 5px;
}
