
span.error{
  color: red;
}

.hidden{
  display: none !important;
}

.mat-card{
  width: 500px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.mat-card-footer{
  text-align: center;
  margin: 10px auto 0;
}

.dependency-list{
  overflow: auto;
  min-height: 200px;
}

.loading-mode .dependency-list{
  max-height: calc(100vh - 440px);
}

.download-mode .dependency-list{
  max-height: calc(100vh - 205px);
}

.full-width-icon{
  width: calc(100% - 25px);
}

.btn-input{
  width: 20px;
}

.form-input{
  margin-top : 10px;
}

.mat-subheader{
  padding: 0;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-slider-label{
  color: rgba(0,0,0,.54);
}

.mat-slider{
  width: 342px;
}

.mat-slider-value{

}
