<div>

  <mat-toolbar color="primary">

    <span>
      NPM Package Loader
    </span>

  </mat-toolbar>


  <mat-card class="loading-mode" [class.hidden]="isLoadingMode">

    <file-drop  headertext="Drop package.json here"
                (onFileDrop)="fileDropped($event)">
    </file-drop>


    <div class="form-input">
      <mat-form-field class="full-width-icon" >
        <input matInput [(ngModel)]="dependency" (keyup.enter)="addDependency()" placeholder="Dependency" >
      </mat-form-field>
      <button mat-icon-button class="btn-input" (click)="addDependency()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="form-input">
      <label class="mat-slider-label">Additional Versions
        <mat-slider [(ngModel)]="numVersions"  min="0" max="5" thumbLabel tickInterval="1"></mat-slider>
        <span class="mat-slider-value">{{numVersions}}</span>
      </label>
    </div>

    <mat-list *ngIf="dependencies.length > 0" scrollToBottom class="dependency-list">
      <h3 mat-subheader>Requested Dependencies</h3>
      <mat-list-item *ngFor="let dep of dependencies">
        <p mat-line>{{ dep }}</p>
        <button mat-icon-button (click)="removeDependency(dep)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <mat-card-footer>
      <button [disabled]="dependencies.length == 0 || isLoading" mat-raised-button color="secondary"  (click)="startLoading()">
        Start
      </button>
    </mat-card-footer>

  </mat-card>


  <mat-card class="download-mode" [class.hidden]="!isLoadingMode">

    <mat-list [class.hidden]="errors.length == 0">
      <h3 mat-subheader>Failed Dependencies</h3>
      <mat-list-item *ngFor="let update of errors">
        <span class="error">{{ update.dependency + ' -> ' + update.error }}</span>
      </mat-list-item>
    </mat-list>

    <mat-list scrollToBottom class="dependency-list">
      <h3 mat-subheader>Processed Dependencies</h3>
      <ul id="processed-dependencies"></ul>
    </mat-list>

    <mat-card-footer>
      <button mat-raised-button color="secondary" (click)="reset()">
        Reset
      </button>
    </mat-card-footer>

  </mat-card>

</div>
